.product {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.product__img {
  object-fit: contain;
  
}

.product__buttons {
  margin-left: 20px;
}

.product__info {
  width: 50%;
  margin: auto;
}

.product__cartButton {
  margin: 40px 3px 0 0;
  background-color: #FFED33;
  outline: none;
  cursor: pointer;
}

.product__heartButton {
  margin-top: 40px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.product_price {
  color: #FF4947;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-top: 15px;
  font-weight: 700;
}