.winkelwagentjeProduct {
  display: flex;
  flex-direction: row;
}

.deleteIcon {
  scale: (0.3);
}

.winkelwagentjeProduct__image {
  width: 7vw;
  height: 13vh;
  margin: 10px 10px 10px 0;
}

.winkelwagentjeProduct__info {
  flex-direction: column;
  margin: 20px 0 20px 0;
}

.winkelwagentjeProduct__price {
  margin: 20px 0;
}

.winkelwagentjeProduct__priceAndBtn {
  margin-left: 70px;
}

.winkelwagentjeProduct__opVoorraad {
  margin-left: auto;
  margin-top: 20px;
}

.winkelwagentjeProduct__verwijderLink {
  color: blue;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none
}

.winkelwagentjeProduct__verwijderLink:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 789px) {
  .winkelwagentjeProduct__image {
    width: 9vw;
    height: 9vh;
  }
}

@media only screen and (max-width: 1270px) {
  .winkelwagentjeProduct__info {
    margin: 20px 200px 20px 0;
  }
}

@media only screen and (max-width: 1199px) {
  .winkelwagentjeProduct__info {
    margin: 20px 180px 20px 0;
  }
}

@media only screen and (max-width: 664px) {
  .winkelwagentjeProduct__info {
    margin: 20px 70px 20px 0;
  }
}

@media only screen and (max-width: 627px) {
  .winkelwagentjeProduct__opVoorraad {
    display: none;
  }
}
